# Bitrix admin — локально, не коммитить .env

BITRIX_ADMIN_URL=https://a2c.by/bitrix/admin/iblock_list_admin.php?IBLOCK_ID=38&type=aspro_allcorp3_content&lang=ru
BITRIX_LOGIN=
BITRIX_PASSWORD=

SITE_URL=https://a2c.by/
PAGESPEED_REPORT_MOBILE=https://pagespeed.web.dev/analysis/https-a2c-by/kxewswnodc?form_factor=mobile
